# Relational Algebra
## 5 Basic Operations
S1
| sid | sname   | rating | age |
|-----|---------|--------|-----|
| 22  | dustin  | 7      | 45  |
| 31  | lubber  | 8      | 55  |
| 58  | rusty   | 10     | 35  |

S2
| sid | sname   | rating | age |
|-----|---------|--------|-----|
| 28  | yuppy   | 9      | 35  |
| 31  | lubber  | 8      | 55  |
| 44  | guppy   | 5      | 35  |
| 58  | rusty   | 10     | 35  |

R1
| sid | bid   |   day    |
|-----|-------|----------|
| 22  | 101   | 10/10/96 |
| 58  | 103   | 11/12/96 |

### 1.Selection $\sigma$
Horizontal filtering (tuples)

$\sigma_{rating>8}(S2)=\sigma_{rating>8\ \wedge\ age<50>}(S2)=$
| sid | sname   | rating | age |
|-----|---------|--------|-----|
| 28  | yuppy   | 9      | 35  |
| 58  | rusty   | 10     | 35  |

**Conditions:** $<, >, <=, >=, =, !=$

**Clauses:** and=$\wedge$, or=$\vee$

<br>

### 2.Projection $\pi$
Vertical filtering (columns); <font color=red>remove duplicates</font>

$\pi_{age}(S2)=$
| age |
|-----|
| 35  |
| 55  |

$\pi_{sname,rating}(\sigma_{rating>9}(S2))=$
| sname   | rating |
|---------|--------|
| yuppy   | 9      |
| rusty   | 10     |

<br>

### 3.Cross-product $\times$
combine two tables together with all possible combinations

$R1\times S1=$
| sid | sname   | rating | age | sid | bid   |   day    |
|-----|---------|--------|-----|-----|-------|----------|
| 22  | dustin  | 7      | 45  | 22  | 101   | 10/10/96 |
| 31  | lubber  | 8      | 55  | 22  | 101   | 10/10/96 |
| 58  | rusty   | 10     | 35  | 22  | 101   | 10/10/96 |
| 22  | dustin  | 7      | 35  | 58  | 103   | 11/12/96 |
| 31  | lubber  | 8      | 55  | 58  | 103   | 11/12/96 |
| 58  | rusty   | 10     | 35  | 58  | 103   | 11/12/96 |

Deal with conflicting names: rename the attributes

$\rho(C(1->sid1, 5-> sid2), R1\times S1)=$
|sid1 | sname   | rating | age |sid2 | bid   |   day    |
|-----|---------|--------|-----|-----|-------|----------|
| 22  | dustin  | 7      | 45  | 22  | 101   | 10/10/96 |
| 31  | lubber  | 8      | 55  | 22  | 101   | 10/10/96 |
| 58  | rusty   | 10     | 35  | 22  | 101   | 10/10/96 |
| 22  | dustin  | 7      | 35  | 58  | 103   | 11/12/96 |
| 31  | lubber  | 8      | 55  | 58  | 103   | 11/12/96 |
| 58  | rusty   | 10     | 35  | 58  | 103   | 11/12/96 |

<br>

### 4.Set-difference $-$
filtering tuples; <font color=red>Require Union-Compatible</font> (1.same #fields; 2.same types); <font color=red>Non-symmetrical</font>

$S1-S2=$
| sid | sname   | rating | age |
|-----|---------|--------|-----|
| 22  | dustin  | 7      | 45  |

$S2-S1=$
| sid | sname   | rating | age |
|-----|---------|--------|-----|
| 28  | yuppy   | 9      | 35  |
| 44  | guppy   | 5      | 35  |

<br>

### 5.Union $\cup$
combine tuples; <font color=red>Require Union-Compatible</font> (1.same #fields; 2.same types); <font color=red>remove duplicates</font>

$S1\cup S2=$
| sid | sname   | rating | age |
|-----|---------|--------|-----|
| 22  | dustin  | 7      | 45  |
| 28  | yuppy   | 9      | 35  |
| 31  | lubber  | 8      | 55  |
| 44  | guppy   | 5      | 35  |
| 58  | rusty   | 10     | 35  |

<br>

## Compound Operations

### 1.Intersection $\cap$
$A\cap B = A-(A-B)$

$S1\cap S2=S2\cap S1=$
| sid | sname   | rating | age |
|-----|---------|--------|-----|
| 31  | lubber  | 8      | 55  |
| 58  | rusty   | 10     | 35  |


<br>

### 2.Join $\Join$

#### (1) natural join
1. Compute $R\times S$; 
2. equal values attributes; 
3. project unique attributes

$S1\Join R1=\pi_{\dots}(\sigma_{unique?}(S1\times R1))=$
| sid | sname   | rating | age | bid   |   day    |
|-----|---------|--------|-----|-------|----------|
| 22  | dustin  | 7      | 45  | 101   | 10/10/96 |
| 58  | rusty   | 10     | 35  | 103   | 11/12/96 |


#### (2) condition join (/ theta-join)
$R\Join_c S=\sigma_c(R\times S)$

$S1 \Join_{S1.sid<R1.sid>} R1=$
| sid | sname   | rating | age | sid | bid   |   day    |
|-----|---------|--------|-----|-----|-------|----------|
| 22  | dustin  | 7      | 35  | 58  | 103   | 11/12/96 |
| 31  | lubber  | 8      | 55  | 58  | 103   | 11/12/96 |

**Equi-Join:** condition $c$ contains only equalities (e.g. S1.sid = R1.sid)

<font color=red>Still different from natural join, since we can choose the attribute.</font>

> e.g. (1) Find names of sailors who have reserved boat #103
>
> solution 1: $\pi_{sname}((\sigma_{bid=103}Reserves)\Join Sailors)$
>
> solution 2: $\pi_{sname}(\sigma_{bid=103}(Reserves\Join Sailors))$

> e.g. (2) Find all pairs of sailors in which the older sailor has a lower rating
>
> solution 1: $\pi_{sname}((\sigma_{(S1.age<S2.age\ \wedge\ S1.rating > S2.rating)\ \vee\ (S1.age>S2.age\ \wedge\ S1.rating < S2.rating) }S1)\Join S2)$
>
> solution 2: $\pi_{sname}(\sigma_{(S1.age<S2.age\ \wedge\ S1.rating > S2.rating)\ \vee\ (S1.age>S2.age\ \wedge\ S1.rating < S2.rating) }(S1\Join S2))$

# SQL

## SQL / SEQUEL
DBMS and SQL support **CRUD**: Create, Read, Update, Delete commands

DDL (Definition): `CREATE, ALTER, DROP, TRUNCATE, RENAME`

DML (Manipulation): Comparison & Logic Operators, Set Operations, Subquery, Multiple record INSERTs, INSERT from a table, `VIEW, SELECT, INSERT, DELETE, UPDATE, REPLACE`

DCL (Control): Users and permissions, e.g. `CREAT USER, DROP USER, GRANT, REVOKE, SET PASSWORD`

Database Administration Statements:

Database Administration: e.g. `BACKUP TABLE, RESTORE TABLE, ANALYZE TABLE`

Miscellaneous: e.g. `DESCRIBE tablename, USE db_name`

others: Transaction Control...

### Case sensitivity
- SQL keywords are case insensitive
- Table names are Operation System Sensitive
- Field names are case insensitive
SQL is able to do math expressions

### Data Manipulation Language (DML)
#### Comparison & Logic Operators & Set Operations
1. **Comparison**: =, <, >, <=, >=, <> OR !=
2. **Logic**: `NOT > AND > OR` (use '()' would be better)
3. **Set Operation**: `UNION` (either table, expressions is fine), `UNION ALL` (exists duplication; SQL), `INTERSECT`
<center>
 <img src="./figures/week4l2-2.png" width = "300" alt="图片名称" align=center />
</center>

#### Query Nesting
nesting subqueries, a nested query is simply another select query;

**Retionale**: All select queries return a table set of data.

1. `IN/NOT IN`(if changeable, joins are faster than ins)
<center>
 <img src="./figures/week4l2-3.png" width = "400" alt="图片名称" align=center />
</center>

2. `ANY`, `ALL`
<center>
 <img src="./figures/week4l2-4.png" width = "450" alt="图片名称" align=center />
</center>

3. `EXISTS`: ①对外层的表的每一个tuple ②检查里层的表是否有满足条件的tuple ③if not exists: move on to next tuple ④if exists: SELECT 操作这个tuple
<center>
 <img src="./figures/week4l2-5.png" width = "450" alt="图片名称" align=center />
</center>

#### INSERT, UPDATE, REPLACE, DELETE
1. `INSERT`:
```SQL
# table must already exist
INSERT INTO NewEmployee
SELECT * FROM Employee;

# Without specifying fields: All columns must be specified
INSERT INTO Employee VALUES
    (DEFAULT, "A", "A's Addr", "2012-02-02", NULL, "S"),
    (DEFAULT, "B", "B's Addr", "2012-02-02", NULL, "S"),
    (DEFAULT, "C", "C's Addr", "2012-02-02", NULL, "S")
;

# Specifying fields:
INSERT INTO Employee 
    (Name, Address, DateHired, EmployeeType)
    VALUES
    (DEFAULT, "A", "A's Addr", "2012-02-02", "S"),
    (DEFAULT, "B", "B's Addr", "2012-02-02", "S"),
    (DEFAULT, "C", "C's Addr", "2012-02-02", "S")
;
```
2. `UPDATE`: Specifying a `WHERE` clause is important; Order of statements is important
```SQL
# update the whole table
UPDATE Hourly
    SET HourlyRate = HourlyRate * 1.10;

# wrong order
UPDATE Salaried
    SET AnnualSalary = AnnualSalary * 1.05
    WHERE AnnualSalary <= 10000;
UPDATE Salaried
    SET AnnualSalary = AnnualSalary * 1.05
    WHERE AnnualSalary > 10000;

# Should use CASE
UPDATE Salaried
    SET AnnualSalary = 
        CASE 
            WHEN AnnualSalary <= 10000
            THEN AnnualSalary * 1.05
            ELSE AnnualSalary * 1.10
        END;
```
3. `REPLACE`: used when you are unsure whether a record exists or not; if not exists, like INSERT. O.W. like UPDATE

4. `DELETE`: for FKs:<br/>
**ON DELETE CASCADE**: 删掉所有指向它的records<br/>
**ON DELETE RESTRICT**: 禁止我们删除该条，如果存在指向它的records
```SQL
# delete all records
DELETE FROM Employee;

# delete specified records
SELETE FROM Employee
    WHERE Name = "Grace";
```

#### Views
Relation that is not in the physical models, but is made available to the user as a virtual relation.

Once a view is defined, the definition is stored in the DB (not data, but metadata-schema information); So can be used as other tables

Every time executed is running the complex definition

Pros
1. Hide the query comlexity from users
2. Hide data from users (different users are set to use different views)
<center>
 <img src="./figures/week4l2-6.png" width = "300" alt="图片名称" align=center />
</center>

### DDL Commands
1. `CREATE` Statement (with FK)
<center>
 <img src="./figures/week4l2-1.png" width = "400" alt="图片名称" align=center />
</center>

2. `ALTER`: add or remove attributes (columns) from a relation
```SQL
ALTER TABLE TableName ADD AttributeName AttributeType
ALTER TABLE TableName DROP AttributeName
```
3. `RENAME`: rename the table
```SQL
RENAME TABLE CurrentTableName TO NewTableName
```
4. `TRUNCATE`: like DELETE, but faster and can't ROLL BACK (recover from backup)
5. `DROP`: removes the data and the relation, can't UNDO (recover from backup)
```SQL
DROP TABLE TableName
```

## SQL Usage
1. USE the database design as a MAP to help you when you are formulating queries
2. USE the structure of the SELECT statement as a template
3. FILL out parts of the SELECT structure and BUILD the query

Examples
<center>
 <img src="./figures/week4l2-7.png" width = "450" alt="图片名称" align=center />
</center>